doctype html
html
  head
    meta(property="og:locale",content="zh_TW")
    meta(property="og:title",content="中西區區議會 Central and Western District Council")
    meta(property="og:type",content="article")
    meta(property="og:url",content="https://g0v.github.io/grants-landing-template")
    meta(property="og:image",content="https://g0v.github.io/grants-landing-template/img/thumbnail.jpg")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="1084")
    meta(property="og:image:height",content="631")
    meta(property="og:description",content="中西區區議會門戶網站")
    meta(property="article:author",content="samyipstt")
    meta(property="article:section",content="Hong Kong")
    meta(name="viewport" content="width=device-width; initial-scale=1.0;")
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")

  body
    include module/nav.jade
    include meeting/2020GMS04/record.jade
    include module/footer.jade
