//- module
.section.section-why.bg-light: .inner
  .text-center: h2#about 關於 中西區區議會
  p 中西區區議會是根據《區議會條例》(第547章)成立的團體，職能包括就地區行政事務向政府提供意見，以及推動區內康樂及文化活動和環境改善計劃。香港特別行政區第六屆中西區區議會於2020年1月1日正式成立。
  p 本網頁是根據區議會決議，由議員自行營運的網站。希望成為居民通往中西區區議會的門戶，提供地區簡介、區議會會議資訊，以及有關區議會活動的最新消息，目標是以開源數據及公開透明地鼓勵居民融入社區以及推動公眾關心地區事務。
  br
  .row
    .col: .media-preview(style="background:url(img/dcmember/2943.jpg) center center no-repeat #444;background-size:cover")
    .col
      h4 中西區區議會主席 鄭麗琼女士
      .sep.light-dark.gap-sm
      p 歡迎您來到中西區區議會網站。
      .pull-right.mr-3: a(href="#contact"): small 聯絡我們 #[i.fa.fa-arrow-right]

