//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label 中西區區議會
          .item: a(href="#about") 關於我們
          .item: a(href="#meeting_g") 會議日程
          .item: a(href="#contact") 聯絡窗口
        .col-6.col-md-4
          label 注意事項
          .item: a(href="#") 使用條款
          .item: a(href="#") 隱私權政策
          .item: a(href="#") 成果授權 CC0
    .col-12.col-md-4.text-center
      a(href="/",target="_blank")
        img(src="img/cwdc.svg",style="width:200px",alt="CWDC")

