//- module
.jumbotron.text-light
  .text-center
    h1.mb-2 中西區區議會 開源議會網站
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 以開源群體及開放數據為基，建構開放的中西區區議會網站及議會文化。
    br
    a(href="/#schedule") .btn.btn-danger.btn-lg(style="width:280px") 現在就開始使用

