//- module
.section.bg-white.section-news: .inner
  .text-center: h2#news 最新消息
  ul
    li: a(href="/#meeting_g") 更新大會第五次特別會議議程 #[small / 20200807]
    li: a(href="/#meeting_g") 更新大會第四次特別會議議程 #[small / 20200606]
    li: a(href="/#news/") 最新消息區塊更新上線了！ #[small / 20200605]



