//- module
.section.section-why.bg-light: .inner
  .text-center: h2 為什麼要做這個專案？
  p 中西區區議會是根據《區議會條例》(第547章)成立的團體，職能包括就地區行政事務向政府提供意見，以及推動區內康樂及文化活動和環境改善計劃。香港特別行政區第六屆中西區區議會於2020年1月1日正式成立。
  p 本網頁是根據區議會決議，由議員自行營運的網站。希望成為居民通往中西區區議會的門戶，提供地區簡介、區議會會議資訊，以及有關區議會活動的最新消息，目標是以開源數據及公開透明地鼓勵居民融入社區以及推動公眾關心地區事務。
  br
  .row
    .col: .media-preview(style="background:url(img/shaq.gif) center center no-repeat #444;background-size:cover")
    .col
      h4 就像是這樣
      .sep.light-dark.gap-sm
      p 左邊可以放一張圖、放個影片、放個動畫等等的東西，甚至有實際可以操作的實例，效果通常都會不錯喔！
      .pull-right.mr-3: a(href="#"): small 了解更多的按鈕 #[i.fa.fa-arrow-right]

